body{
    text-align: center;
    background-color:rgb(0, 0, 0);
}

div{
    font-family:'Roboto', sans-serif; 
    margin-top: 140px;
    margin-bottom: 170px;
}

h1,h2{ 
    line-height: 50%;
    font-size: 130%;
    color:white;
   
}

p{
    margin-bottom: 60px;
    line-height: 60%;
    font-size: 180%;
    color:whitesmoke;
    text-decoration: underline;
    
}

img{
    height:auto; width: 80%;


}
.titulares{
    font-size: 280%;
}

.contenidos{
    color:rgb(1, 1, 9);
}
