body{
    background-color: black;
    color:white; 
    text-align: center;
}

table, th, td {
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    
}

td{
    font-style: italic;
}

h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    font: 100;
}